/* Web page styles for the portfolio */
@layer base {
  :root {
    /* colors */
    --white: #fff;
    --bg-color: #1b1b1b;
    --bg-color2: #f5f5f5;
    --btn-color: #065252;
    --link-color: #065252;
    --font-color: #333;

    /* fonts */
    --sans: "Roboto", sans-serif;
    --monospace: "IBM Plex Mono", monospace;
    --font-project: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    --font-form: Ubuntu, sans-serif;

    /* font scale */
    /* 1px, 1%, 1vh, 1vw, 1em */
    --base-size: 1.2rem;
    --scale: 1.2;
    --h1: calc(var(--h2) * var(--scale));
    --h2: calc(var(--h3) * var(--scale));
    --h3: calc(var(--h4) * var(--scale));
    --h4: calc(var(--h5) * var(--scale));
    --h5: calc(var(--h6) * var(--scale));
    --h6: var(--base-size);

    /* radius */
    --border-radius-base: 5px;
    --border-radius-lg: calc(var(--border-radius-base) * var(--scale));
    --border-radius-sm: calc(var(--border-radius-base) / var(--scale));
  }

  html * {
    box-sizing: border-box;
  }

  body {
    font-family: var(--sans);
    color: var(--font-color);
    background-color: var(--bg-color);
    font-size: var(--base-size);
    padding: 0;
    margin: 0;
    z-index: -1;
  }
}

/* mobile first styles, no layout.
 view: iPhone 12 Pro (424px)  */

/* -------------------------------------------------------------------------- */
/*                                Header styles                               */
/* -------------------------------------------------------------------------- */
.home {
  background-image: url(./imagenes/Imagen1.jpg);
  background-size: cover;
  background-position: bottom right;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  height: 50vh;
  background-attachment: fixed;
}

/* -------------------------------------------------------------------------- */
/*                               Navbar styles                               */
/* -------------------------------------------------------------------------- */
.top-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--bg-color);
  border-radius: 0 0 5px 5px;
  width: 80%;
  padding: 15px;
  position: fixed;
  top: 0;
  z-index: 10;
}

.nav-link {
  margin: 0 15px;
  font-weight: 300;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: calc(var(--base-size) * 0.8);
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
}

nav a {
  color: var(--white);
  text-decoration: none;
  padding: 10px;
}

/* -------------------------------------------------------------------------- */
/*                                   Hero section styles                      */
/* -------------------------------------------------------------------------- */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--monospace);
  text-align: center;
}

.hero h4 {
  font-weight: 300;
  font-size: var(--h4);
  margin: 0;
}

.my-name {
  font-size: var(--h1);
  margin: 0;
}

.cta {
  color: var(--white);
  border-radius: 10px;
  width: 150px;
  height: 35px;
  font-size: 15px;
  font-weight: 400;
  margin: 25px auto;
}

/* -------------------------------------------------------------------------- */
/*                            Project cards styles                            */
/* -------------------------------------------------------------------------- */
.project-container {
  display: flex;
  justify-content: center;

}

.articles-section{
  width: 85%;
margin: 10px auto;
}

.projects-header h2 {
  font-family: var(--font-project);
  color: var(--white);
  font-size: var(--h3);
  font-weight: 300;
  text-align: center;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  background-color: var(--bg-color2);
  text-align: center;
  cursor: pointer;
}

.project-description {
  width: 90%;
  text-align: justify;
  margin: 20px;
  font-family: var(--font-project);
}

.project-description a {
  color: var(--link-color);
  font-size: var(--h6);
  font-weight: 300;
  margin: 20px;
  text-decoration: none;
}

.project-img {
  width: 100%;
  margin: auto;
  padding: 10px;
}

.project-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.project-card h3 {
  margin-top: 10px;
  font-size: var(--h4);
  font-weight: 300;
}

.project-card p {
  margin: 5px;
  font-weight: 300;
  font-size: calc(var(--h6) * 0.8);
}

/* -------------------------------------------------------------------------- */
/*                               About me styles                              */
/* -------------------------------------------------------------------------- */
#about-me {
  display: flex;
  margin: 30px auto;
  justify-content: space-evenly;
  font-family: var(--font-project);
  font-weight: 300;
  width: 80%;
}

.about-description {
  width: 90%;
  text-align: justify;
  margin: 20px;
  font-family: var(--font-project);
  color: var(--white);
}

.about-description h2 {
  font-family: var(--font-project);
  color: var(--white);
  font-size: var(--h3);
  font-weight: 300;
  text-align: center;
}

.about-description p {
  margin: 5px;
  font-weight: 300;
  font-size: calc(var(--h6) * 0.8);
}

/* -------------------------------------------------------------------------- */
/*                                 Form styles                                */
/* -------------------------------------------------------------------------- */
#contact-form {
  width: 80%;
  margin: 0 1rem 1rem;
}

#contact-form h2 {
  font-family: var(--font-project);
  color: var(--white);
  font-size: var(--h3);
  font-weight: 300;
  text-align: center;
}

#contact,
label,
input[name="submit"] {
  position: relative;
}

label > span,
input,
textarea,
button {
  box-sizing: border-box;
}

label {
  display: block;
}

label > span {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 0.5em;
  border: none;
  font: 300 100%/1.2 var(--font-form);
}

input[type="text"],
input[type="email"],
textarea {
  margin: 0 0 1em;
  border: 1px solid #ccc;
  outline: none;
}

input.invalid,
textarea.invalid {
  border-color: #d5144d;
}
textarea {
  height: 6em;
}

input[type="submit"],
button {
  background: var(--btn-color);
  color: var(--white);
}

input[type="submit"]:hover,
button:hover {
  background: #91b36f;
}

/* -------------------------------------------------------------------------- */
/*                                Footer styles                               */
/* -------------------------------------------------------------------------- */
#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  text-align: center;
  font-size: calc(var(--h6) * 0.6);
  font-weight: 300;
}

.social-media {
  width: 40%;
}

.social-media ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  list-style: none;
  padding: 0;
}

.icon-logo {
  width: 25px;
  height: 25px;
  filter: invert(1);
}

/* -------------------------------------------------------------------------- */
/*                           view: iPhone 14 Pro Max                          */
/* -------------------------------------------------------------------------- */

@media (min-width: 424px) {
}

/* -------------------------------------------------------------------------- */
/*                               view: IPad Mini                              */
/* -------------------------------------------------------------------------- */

@media (min-width: 767px) {
  .hero {
    align-self: self-end;
    padding: 90px;
  }

  .top-menu {
    justify-content: space-between;
  }

  #about-me {
    width: 80%;
  }

  #contact-form {
    max-width: 90%;
    margin: 0 auto 20px;
  }

  #footer {
    font-size: var(--h6);
  }

  .social-media {
    width: 30%;
  }
}

/* -------------------------------------------------------------------------- */
/*                               view: iPad Pro                               */
/* -------------------------------------------------------------------------- */
@media (min-width: 1024px) {
  .home {
    height: 50vh;
  }

  .project-card {
    flex-direction: row;
  }

  section .project-card:nth-child(even) {
    flex-direction: row-reverse;
  }

  .project-description {
    width: 50%;
    text-align: justify;
  }

  .project-img {
    width: 50%;
    margin: auto;
    padding: 10px;
  }

  .about-description {
    width: 90%;
  }

  #contact-form {
    width: 80%;
    margin: 0 auto;
  }
}

/* -------------------------------------------------------------------------- */
/*                              view: MacBook Pro                             */
/* -------------------------------------------------------------------------- */
@media (min-width: 1199px) {
  .home {
    height: 100vh;
  }

  .hero-text {
    padding-right: 45px;
  }

  #footer {
    margin-top: 30px;
  }

  .social-media {
    width: 20%;
  }
}
